.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #343434;
}

.mainContent {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.filter {
  color: white;
  cursor: pointer;
  padding: 0px 10px;
  margin: 0px 10px;
}

.filter:hover {
  position: relative;
  display: inline-block;
  text-underline-offset: 10px;
}

.filter::after {
  content: "";
  position: absolute;
  left: -9px;
  bottom: -3px; /* Adjust to move closer or farther from the text */
  width: 110%; /* Extend beyond the length of the text */
  height: 3px; /* Thickness of the underline */
  background-color: white; /* Color of the underline */
}
