.navbar {
  background-color: #141414;
  color: #7ceed3;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
}

.unite-title {
  font-size: 2rem;
  font-weight: bold;
}
