.navbar {
  background-color: #141414;
  color: #7ceed3;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.uniteTitle {
  font-size: 2rem;
  color: #7ceed3;
  margin-right: auto; /* Push search to the center */
}

.profileIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
