.profileContainer {
  position: relative;
  display: inline-block;
}

.profileImage {
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: 2px solid #ccc;
}

.profileImage:hover {
  transform: scale(1.1);
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  min-width: 100px;
}

.dropdownButton {
  border: none;
  color: black;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
  text-wrap: nowrap;
}

.signoutButton {
  background-color: #7ceed3;
  border: none;
  color: black;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.signoutButton:hover {
  background-color: #61baa5;
  transform: scale(1.05);
}

.signoutButton:active {
  background-color: #4a8c7c;
  transform: scale(0.95);
}

.setupModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #141414;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.setupModal h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: white;
}

.usernameInput,
.bioInput,
.fileInput {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: white;
  font-size: 14px;
  box-sizing: border-box;
}

.bioInput {
  resize: none;
  height: 80px;
}

.submitButton {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #7ceed3;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.submitButton:hover {
  background-color: #61baa5;
}

.submitButton:active {
  background-color: #4a8c7c;
}

.previewImage {
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
