.sidePanel {
  width: 250px;
  background-color: #141414;
  padding: 20px;
  border-right: 1px solid #2f2f2f;
}

.sidePanel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidePanel li {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 5px;
}

.sidePanel li svg {
  margin-right: 10px;
}
